$(document).ready(function () {
      var frm = $('#id-registration');
      var validator =  $('#id-registration').validate({
      
   		rules: {
   			username: {required: true},
   			email: {required: true},
   			password: {required: true}
  			}
	});	

   $(frm).submit(function(e) {
        $.ajax({//begin
            type: 'POST', <!-- Get the form's method attribute(defined in login/forms.py -->
            url: frm.attr('action'),  <!-- Get the form's action attribute(defined in login/forms.py -->
            data: $(frm).serialize(),    <!-- package the data -->
            success: function(data){
		if(validator){
		  $("#div-form").html("Thanks for Registering!");
		}//end if
		else{
		   console.log('invalid');
		}//end else
	     },//end success:
            error: function(data) {           <!-- else print error -->
                $("#div-form").html("Thanks for Registering!");
            }//end error
        });//end ajax
	return false;	
	 
    });
});
