<!-- Modal --> 
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Register </h4>
          </div>
          <div class="modal-body">
	   <ul class="nav nav-tabs">
	     <li class="active"><a href="#tab1" data-toggle="tab">Login</a></li>
             <li><a href="#tab2" data-toggle="tab">Register</a></li>
	     </ul>
            <form id="login" action="/frontend/register/" method="POST"> 
             <div class="tab-content">
     	       <div class="tab-pane active" id="tab1">{% csrf_token %}
                
		{% crispy loginform %}
		
               </div>
	    
            
               <div class="tab-pane" id="tab2">{% csrf_token %}
                 
		{% crispy regform %}
		 
               </div>
             </form>
             </div>
          </div>
        <div class="modal-footer"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="reg" type="button" class="btn btn-primary">Submit</button>
            <script>
  		$('#reg').click(function(){
     			 console.log('am i called');

       	 	$.ajax({
            	type: "POST",
            	url: "/register/",
            	
            	data: $('#reg').serialize(),
            	success: function(data) {
                	if (!(data['success'])) {
            
            			$(example_form).replaceWith(data['form_html']);
        		}
        		else {
            
           	       $(example_form).find('.success-message').show();
       		 	}
    			},
   			 error: function () {
        		$(example_form).find('.error-message').show()
    			}
           		 }
        		});

    			});
	    </script>
            

         </div> 
        </div>
      </div>
    </div>
