{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


</head>

<script type="text/javascript" src="{% static 'js/FitVids.js-master/jquery.fitvids.js' %}"></script>
  
<style type="text/css">

</style>
	   	<div class="intro-header"></div>
		<div id="video-container">
		<video autoplay >
		<source  src="{% static 'version1.mp4' %}" type="video/mp4" />
		<source  src="{% static 'version1.webmhd.webm' %}" type="video/webm" />
		
		</video>
		
		<script>
			//$(".intro-header").fitVids();
			//var padding  = $("#video-container").height();
			//console.log(padding)
			//$('.intro-header').css({"height":"padding"});
			$("object, embed, .format-video iframe").each(function() {
			var orig = $(this);
			var ratio = orig.attr("height") / orig.attr("width");
			var parWidth = orig.parents().find("p:last").width();
			if(orig.attr("width")> parWidth) {
			orig
			.attr("width", parWidth)
			.attr("height", (parWidth * ratio));
			}
			});
			var paddings  = $("#video-container").height();
			console.log(paddings)
			$('.intro-header').css({"height":paddings});
			var paddings  = $(".intro-header").height();
			console.log(paddings)
		</script>
		</div>
    		
    <!-- /.container -->


<!-- /.intro-header -->

<div id="bottomDIV" class="content-section-a">

	
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Death to the Stock Photo:
                    <br>Special Thanks</h2>
                <p class="lead">A special thanks to Death to the Stock Photo for providing the photographs that you see in this template. <a target="_blank" href="http://join.deathtothestockphoto.com/">Visit their website</a> to become a member.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'images/img/ipad.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">3D Device Mockups
                    <br>by PSDCovers</h2>
                <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by PSDCovers! <a target="_blank" href="http://www.psdcovers.com/">Visit their website</a> to download some of their awesome, free photoshop actions!</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{% static 'images/img/doge.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Google Web Fonts and
                    <br>Font Awesome Icons</h2>
                <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'images/img/phones.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
{% endblock %}
