<!DOCTYPE html>
{% extends 'base.html' %}
{% load endless %}

{% block content %}

<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Textile Fabrics Consultants, Inc. {{ StoreItem.itemName }}</title>

    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

</head>

<body>

    <div class="container">

        <div class="row">

           <div class="col-md-3">
                <p class="lead">Textile Fabrics Consultants, Inc.</p>
                <div class="list-group">
                    <a href="webstore/FiberArts/" class="list-group-item">Fiber Arts</a>
                    <a href="ForensicTestingSupplies/" class="list-group-item">Forensic Testing Supplies</a>
                    <a href="HighSchoolTeachingMaterials/" class="list-group-item">High School Teaching Materials</a>
		    <a href="SwatchKitAdd-Ons/" class="list-group-item">Swatch Kit Add-Ons</a>
		    <a href="SwatchKits/" class="list-group-item">Swatch Kits</a>
		    <a href="SwatchKitsforInteriorDesign/" class="list-group-item">Swatch Kits for Interior Design</a>
		    <a href="TestingandAnalysis/" class="list-group-item">Testing and Analysis</a>
		    <a href="TextilesSoftware/" class="list-group-item">Textiles Software</a>
		    <a href="Videos/" class="list-group-item">Videos</a>
                </div>
            </div>
			
            <div class="col-md-9">
			
				<form method="get" action="http://www.bing.com/search">
				<input type="hidden" name="cp" value="1252" />
				<input type="hidden" name="FORM" value="FREESS" />
 				<table bgcolor="#FFFFFF">
  				<tr>
   				<td>
    				<a href="http://www.bing.com/">
    				<img src="http://www.bing.com/siteowner/s/siteowner/Logo_51x19_Dark.png" border="0" ALT="bing" />
    				</a>
   				</td>
   				<td>
    				<input type="text" name="q" size="30" />
    				<input type="submit" value="Search Site" class="btn btn-primary"/>
    				<input type="hidden" name="q1" value="http://textilefabric.com/" />
   				</td>
  				</tr>
 				</table>
				</form>  	
				<br>  	
				<br>
				<center> <h1> {{ category }} </h1> </center> <br>


                <div class="row carousel-holder">

                    <div class="col-md-12">
                    </div>

                </div>

                <div class="row">
		{% for category in items %}
                   
		   <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ category.picture }}" />
                            <div class="caption">
                                <h4 class="pull-right">${{ category.price }}</h4>
						
                                <h4><a href="#">{{ category.itemName }}</a>
						
                                </h4>
                            </div>

                        </div>
                    </div>
		    
                {% endfor %}
                </div> <!-- end row -->
		
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        

    </div>
    <!-- /.container -->


</body>

{% endblock %}
</html>
