<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Textile Fabrics Consultants, Inc.</title>

   

    <!-- Add custom CSS here -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

</head>

<body>

    <nav class="nav-list navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Textile Fabrics Consultants, Inc.</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Textile Fabrics Consultants, Inc.</p>
                <div class="list-group">
                    <a href="FiberArts/" class="list-group-item">Fiber Arts</a>
                    <a href="ForensicTestingSupplies/" class="list-group-item">Forensic Testing Supplies</a>
                    <a href="HighSchoolTeachingMaterials/" class="list-group-item">High School Teaching Materials</a>
		    <a href="SwatchKitAdd-Ons/" class="list-group-item">Swatch Kit Add-Ons</a>
		    <a href="SwatchKits/" class="list-group-item">Swatch Kits</a>
		    <a href="SwatchKitsforInteriorDesign/" class="list-group-item">Swatch Kits for Interior Design</a>
		    <a href="TestingandAnalysis/" class="list-group-item">Testing and Analysis</a>
		    <a href="TextilesSoftware/" class="list-group-item">Textiles Software</a>
		    <a href="Videos/" class="list-group-item">Videos</a>
                </div>
            </div>

            <div class="col-md-9">
			
				 <form method=post action="/cgi-bin/example.cgi">
					<input type="text" size="30" maxlength="30">
					<input type="Submit" value="Search" class="btn btn-primary">
				</form>  	
				<br>
		
				<center> <h1> Forensic Testing Supplies </h1> </center> <br>
                <div class="row carousel-holder">

                    <div class="col-md-12">
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">First Product</a>
                                </h4>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Second Product</a>
                                </h4>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Third Product</a>
                                </h4>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Fourth Product</a>
                                </h4>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Fifth Product</a>
                                </h4>
                            </div>                      
                        </div>
                    </div>
					
					<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Sixth Product</a>
                                </h4>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Seventh Product</a>
                                </h4>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Eighth Product</a>
                                </h4>
                            </div>
                            
                        </div>
                    </div>
					
					<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">price</h4>
                                <h4><a href="#">Ninth Product</a>
                                </h4>
                            </div>                      
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>


    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>
{% endblock %}
</html>
