{% extends 'base.html' %}

{% block title %}
    Store
{% endblock %}

{% block content %}


{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- CSS Here -->
<link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
<link href="{% static 'css/magnify.css' %}" rel="stylesheet">

<style>

/*
.swing{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 0%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 0%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 0%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 0%;
}

@keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  20% {
    transform:  rotate(15deg) ;
  }
  40% {
    transform:  rotate(-10deg) ;
  }
  60% {
    transform:  rotate(5deg) ;
  }
  80% {
    transform:  rotate(-5deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  20% {
    -moz-transform:  rotate(15deg) ;
  }
  40% {
    -moz-transform:  rotate(-10deg) ;
  }
  60% {
    -moz-transform:  rotate(5deg) ;
  }
  80% {
    -moz-transform:  rotate(-5deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  20% {
    -webkit-transform:  rotate(15deg) ;
  }
  40% {
    -webkit-transform:  rotate(-10deg) ;
  }
  60% {
    -webkit-transform:  rotate(5deg) ;
  }
  80% {
    -webkit-transform:  rotate(-5deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  20% {
    -o-transform:  rotate(15deg) ;
  }
  40% {
    -o-transform:  rotate(-10deg) ;
  }
  60% {
    -o-transform:  rotate(5deg) ;
  }
  80% {
    -o-transform:  rotate(-5deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  20% {
    -ms-transform:  rotate(15deg) ;
  }
  40% {
    -ms-transform:  rotate(-10deg) ;
  }
  60% {
    -ms-transform:  rotate(5deg) ;
  }
  80% {
    -ms-transform:  rotate(-5deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

*/
</style>

<!-- JS Here -->

</head>



<body>

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead" align="center">Browse Products</p>
                <div class="list-group" data-spy="" data-offset-top="20" id="standard"> <!-- removed  affix  attribute from data-spy to keep product menu stationary-->
		                {% for category in item_categories %}
                            <a href="/webstore/category/{{ category }}" class="list-group-item">{{ category }}</a>
                    {% endfor %}
                </div>
                <div class="list-group" data-spy="affix" data-offset-top="20" id="SearchResults">
                      
                </div>
            </div>	

            <div class="col-md-9">
			
    			
  
  <button class="btn btn-primary" style="margin-left: 75%;" data-toggle="modal" data-target="#shoppingCart">
  Shopping Cart
</button>
	<form class="autocomplete-me form-inline" role="form" id="searchForm">
            {% csrf_token %}
            <!-- Display the search form elements here -->
           <div class="form-group" style="width:100%">
            
                <a  id="searchBtn" class="btn btn-primary" value="search"><span class="glyphicon glyphicon-search"></span></a>
            
	              <input type="text" class="form-control" autocomplete="off"  name="q" size="50" id="id_q" placeholder="Search Store" />
                
            </div>  
            <br />
  </form>

	<script type="text/javascript">
	
	$('#searchBtn').click(function(){   
                                $.ajax({//begin

                                         dataType: 'json',
                                         type: 'POST',
					                               data: { 
                                                'search_text' : $('#id_q').val(),
                                                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                                              },
                                         url:  '/webstore/searchStore/',
                                        //beforeSend: function() {
                                        //alert.fadeOut();
                                        //.html('Serching....'); // change submit button text
                                        //},
                                        success: function(result){
					                                      //this works
                                                $('#blockContent').empty();
                                                $('#dynamicModals').empty();
						                                    for(var i = 0; i < result.length;i++){


                                                    $('#blockContent').append(


                                                  "<div  class='col-sm-4 col-lg-4 col-md-4'>"+
                                                    "<div  class='thumbnail'>"+
                                                        "<img src='"+result[i].fields.picture+"' alt=''>"+
                                                    "<div class='caption'>"+
                                                            "<h4 class='pull-right'>$"+result[i].fields.price+"</h4>"+
                                                              "<h4><a data-toggle='modal' data-target='#modal-target-"+ i +"'>"+result[i].fields.itemName+"</a>"+
                                                               "</h4>"+
                                                    "</div>"+

                                                    "</div>"+
                                                    "</div>");


                                                    $('#dynamicModals').append(

        "<div class='modal swing' id='"+ "modal-target-"+ i +"' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>"+
            "<div class='modal-dialog'>"+
                "<div class='modal-content'>"+
                    "<div class='modal-header'>"+
                        "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>"+
                            "<h4 class='modal-title' id='myModalLabel'><span class='label label-success'>"+result[i].fields.itemName+"</span></h4>"+
                    "</div>"+
                "<div class='modal-body row'>"+
                    "<div class='col-lg-6'>"+
                        "<div class='row text-center' id='companion-image'>"+
                            "<img data-toggle='magnify' src='"+result[i].fields.picture+"' alt=''>"+
                        "</div>"+
                    "</div>"+
                    
                    "<div class='col-lg-8 col-lg-offset-2' id='companion-description'>"+
        
                        result[i].fields.description+

                    "</div>"+
                    "</div>"+
                "<div class='modal-footer'>"+
                    "<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>"+
                "</div>"+
            "</div>"+
        "</div>"+
    "</div>");




                                                      













                                                }//end for
						          
					                                    
                                               

                                         }//end success




                                        });//end ajax

                                        });
          


         /**************** function queryDatabase(result){
                  console.log('entered')
                  $.ajax({
                      dataType: 'json',
                      type: 'POST',
                      data: {'result_list': result,
                             'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()},
                      url: '/webstore/query/',
                      success: function(result){

                          

                      }



                  });



          }   ***************/                         
         </script>		

<script type="text/javascript">

    
    var Autocomplete = function(options) {
      this.form_selector = options.form_selector
      this.url = options.url || '/webstore/search/autocomplete/'
      this.delay = parseInt(options.delay || 300)
      this.minimum_length = parseInt(options.minimum_length || 3)
      this.form_elem = null
      this.query_box = null
    }

    Autocomplete.prototype.setup = function() {
      var self = this
	
      this.form_elem = $(this.form_selector)
      this.query_box = this.form_elem.find('input[name=q]')

      // Watch the input box.
      this.query_box.on('keyup', function() {
        var query = self.query_box.val()

        if(query.length < self.minimum_length) {
          return false
        }

        self.fetch(query)
      })

      // On selecting a result, populate the search field.
      this.form_elem.on('click', '.ac-result', function(ev) {
        self.query_box.val($(this).text())
        $('.ac-results').remove()
        return false
      })
    }

    Autocomplete.prototype.fetch = function(query) {
      var self = this

      $.ajax({
        url: this.url
      , data: {
          'q': query
        }
      , success: function(data) {
          self.show_results(data)
        }
      })
    }

    Autocomplete.prototype.show_results = function(data) {
      // Remove any existing results.
      $('.ac-results').remove()

      var results = data.results || []
      var results_wrapper = $('<div class="ac-results"></div>')
      var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

      if(results.length > 0) {
        for(var res_offset in results) {
          var elem = base_elem.clone()
          // Don't use .html(...) here, as you open yourself to XSS.
          // Really, you should use some form of templating.
          elem.find('.ac-result').text(results[res_offset])
          results_wrapper.append(elem)
        }
      }
      else {
        var elem = base_elem.clone()
        elem.text("No results found.")
        results_wrapper.append(elem)
      }

      this.query_box.after(results_wrapper)
    }

    $(document).ready(function() {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete-me'
      })
      window.autocomplete.setup()
    })


  </script>
                
		
    <div id="blockContent" class="row-fluid" style="padding-top:3%">
		
		{% for category in items %}
                    
		  <div  class="col-sm-4 col-lg-4 col-md-4">

                        <div  class="thumbnail">

                        <h4><a data-toggle="modal" data-target="#{{ category.itemNameid }}" style="cursor: pointer;">{{ category.itemName }} </a>
                                </h4>

                            <img src="/media/{{ category.picture }}" alt="" data-toggle="modal" data-target="#{{ category.itemNameid }}" style="cursor: pointer;">
                           

                                <div class="caption">
                                  
                                <h4 class="pull-left">${{ category.price }}</h4>
                                

                                <div class="pull-right"><a  id="{{ category.itemNameid }}addtocartgrid" class="btn btn-primary btn-sm">Add To Cart</a>


                                  <script type="text/javascript">
                                      $('#{{ category.itemNameid }}addtocartgrid').click(function(){   
                                        $.ajax({

                                        type: 'POST',
                                         data: { 
                                              'notmuch' : 'stuff',
                                              'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                                          },
                                         url:  '{% url "addToCart" category.itemNameid 1 %}',

                                           success: function(result){
                                            console.log('added to cart');
                                            console.log(result.cart);

                                              $("#cartModalItems").empty(); // clear the display of the cart
                                                var sub = 0;
                                                for(var i = 0; i < result.cart.length; i++){
                                                    console.log("item: " + result.cart[i][0]);
                                                    console.log("item: " + result.cart[i][1]);
                                                    var bigstring =  "<div class='row individual-item'>" + "<div class='col-lg-3'>" + "<p align=center>" + result.cart[i][0] + "</p>" +"</div>" + "<div class='col-lg-3'>" + "<p align=center>" + result.cart[i][1] + "</p>" + "</div>" + "<div class='col-lg-3'>"+ "<p align=center> <input type='text' size='3' placeholder='" + result.cart[i][2] + "' /> </p>" + "</div>" + "<div class='col-lg-3'>" + "<p align=center>" + result.cart[i][3] + "</p>" + "</div>" + "</div>";
                                                    $("#cartModalItems").append(bigstring);
                                                    sub += result.cart[i][3]  
                                                }
                                                $("#subtotal").empty();
                                                $("#subtotal").append("Subtotal: $" + sub);        

                                          }//end success

                                          });//end ajax
                                      });              
                                   
                                    </script>

                                  </div>
                            </div>
                        </div>
                    </div>
		  
		{% endfor %}
		




            
		   
                </div>
	    
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        

    </div>
    <!-- /.container -->
    <!-- JavaScript -->
    

<div id="dynamicModals">
{% for category in items %}
<!-- Modal -->
<div class="modal swing" id="{{ category.itemNameid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

       <h4 class="modal-title" id="myModalLabel"><span class="label label-success">{{ category.itemName }}</span></h4>
      </div>
      <div class="modal-body row">
	 <div class="span6">
       
   		<div class="row text-center">
            <div class="mag col-sm-3 col-sm-offset-3">
        		<img src="/media/{{ category.picture }}" alt=""><br/>	<!-- removed magnify from img tag   data-toggle="magnify"   -->
            </div>
            <script type="text/javascript">
$(document).ready(function () {


    "use strict"; // jshint ;_;


    /* MAGNIFY PUBLIC CLASS DEFINITION
     * =============================== */

    var Magnify = function (element, options) {
        this.init('magnify', element, options)
    }

    Magnify.prototype = {

        constructor: Magnify

        , init: function (type, element, options) {
            var event = 'mousemove'
                , eventOut = 'mouseleave';

            this.type = type
            this.$element = $(element)
            this.options = this.getOptions(options)
            this.nativeWidth = 0
            this.nativeHeight = 0

            this.$element.wrap('<div class="magnify" \>');
            this.$element.parent('.magnify').append('<div class="magnify-large" \>');
            this.$element.siblings(".magnify-large").css("background","url('" + this.$element.attr("src") + "') no-repeat");

            this.$element.parent('.magnify').on(event + '.' + this.type, $.proxy(this.check, this));
            this.$element.parent('.magnify').on(eventOut + '.' + this.type, $.proxy(this.check, this));
        }

        , getOptions: function (options) {
            options = $.extend({}, $.fn[this.type].defaults, options, this.$element.data())

            if (options.delay && typeof options.delay == 'number') {
                options.delay = {
                    show: options.delay
                    , hide: options.delay
                }
            }

            return options
        }

        , check: function (e) {
            var container = $(e.currentTarget);
            var self = container.children('img');
            var mag = container.children(".magnify-large");

            // Get the native dimensions of the image
            if(!this.nativeWidth && !this.nativeHeight) {
                var image = new Image();
                image.src = self.attr("src");

                this.nativeWidth = image.width;
                
                this.nativeHeight = image.height;

            } else {

                var magnifyOffset = container.offset();
                var mx = e.pageX - magnifyOffset.left;
                var my = e.pageY - magnifyOffset.top;

                if (mx < container.width() && my < container.height() && mx > 0 && my > 0) {
                    mag.fadeIn(100);
                } else {
                    mag.fadeOut(100);
                }

                if(mag.is(":visible"))
                {
                    var rx = Math.round(mx/container.width()*this.nativeWidth - mag.width()/2)*-1;
                    var ry = Math.round(my/container.height()*this.nativeHeight - mag.height()/2)*-1;
                    var bgp = rx + "px " + ry + "px";

                    var px = mx - mag.width()/2;
                    var py = my - mag.height()/2;

                    mag.css({left: px, top: py, backgroundPosition: bgp});
                }
            }

        }
    }


    /* MAGNIFY PLUGIN DEFINITION
     * ========================= */

    $.fn.magnify = function ( option ) {
        return this.each(function () {
            var $this = $(this)
                , data = $this.data('magnify')
                , options = typeof option == 'object' && option
            if (!data) $this.data('tooltip', (data = new Magnify(this, options)))
            if (typeof option == 'string') data[option]()
        })
    }

    $.fn.magnify.Constructor = Magnify

    $.fn.magnify.defaults = {
        delay: 0
    }


    /* MAGNIFY DATA-API
     * ================ */

    $(window).on('load', function () {
        $('[data-toggle="magnify"]').each(function () {
            var $mag = $(this);
            $mag.magnify()
        })
    })



});</script>   
    </div>
  </div>
  <div class="span6">
  
        {{ category.description }}
    </div>
         
      </div>
      <div class="modal-footer">
    <h4>Price: ${{ category.price }}</h4>
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a  id="{{ category.itemNameid }}addtocart" class="btn btn-primary">Add To Cart</a>
        <script type="text/javascript">

          $('#{{ category.itemNameid }}addtocart').click(function(){   
            $.ajax({

               type: 'POST',
               data: { 
                      'notmuch' : 'stuff',
                      'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                    },
               url:  '{% url "addToCart" category.itemNameid 1 %}',

              success: function(result){
                      console.log('added to cart');
                      console.log(result.cart);

                      $("#cartModalItems").empty(); // clear the display of the cart
                      var sub = 0;
                      for(var i = 0; i < result.cart.length; i++){
                        console.log("item: " + result.cart[i][0]);
                        console.log("item: " + result.cart[i][1]);
                        var bigstring =  "<div class='row individual-item'>" + "<div class='col-lg-3'>" + "<p align=center>" + result.cart[i][0] + "</p>" +"</div>" + "<div class='col-lg-3'>" + "<p align=center>" + result.cart[i][1] + "</p>" + "</div>" + "<div class='col-lg-3'>"+ "<p align=center> <input type='text' size='3' placeholder='" + result.cart[i][2] + "' /> </p>" + "</div>" + "<div class='col-lg-3'>" + "<p align=center>" + result.cart[i][3] + "</p>" + "</div>" + "</div>";
                        $("#cartModalItems").append(bigstring);
                        sub += result.cart[i][3]  
                      }
                      $("#subtotal").empty();
                      $("#subtotal").append("Subtotal: $" + sub);
                       /* $("#cartModalItems").append(
          <div class="row individual-item">
            <div class="col-lg-3"><!--Item Picture/Description-->
              <p>" + result.cart[i][0] + "</p>
              <!--<img class="cart-item" src="" + {% static 'images/carousel/sewing.jpg' %} + "">-->
            </div>
            <div class="col-lg-3"><!-- Price Per Item-->
              <p align=center>$" + "X.XX" + "</p>
            </div>
            <div class="col-lg-3"><!--Quantity (Updatable box)-->
              <input type="text" placeholder=" + result.cart[i][1] + ">
            </div>
            <div class="col-lg-3"><!--Item Total (Price per item * Quantity)-->
              <p align=center>$" + "X.XX" + "</p>
            </div>
          </div>

                      "); // end append */


               }//end success

              });//end ajax
            });              
        </script>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
<!--Shopping Cart Modal-->
<!-- Modal -->
<div class="modal swing" id="shoppingCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel">{% if user.is_authenticated %}
                                                  {{user.username}}'s Shopping Cart</h4>
                                                  {%else%}
                                                  Shopping Cart</h4>
                                                  {% endif %}

                                                  <!----Need to update Via Java Script --> 
       

      </div>
      <div class="modal-body" id="cartModalContent">
        <div class="row">
          <div class="col-lg-3">
              <p align=center>Item</p>
          </div>
          <div class="col-lg-3">
              <p align=center>Price (per item)</p>
          </div>
          <div class="col-lg-3">
              <p align=center>Quantity</p>
          </div>
          <div class="col-lg-3">
              <p align=center>Item Total</p>
          </div>
        </div>
        <!-- Things to have in the item point:
                Item (Picture/Description)
                Price per Item
                Quantity
                Item Total (Price per * Quantity)
                Add Checkout button to bottom as well as subtotal
          -->
        <!--Everything from here to the next comment is a template for each indivual item. Should be dynamically loaded-->
        <div id="cartModalItems">
          {% for cartitem in initialcart %}
          <div class="row individual-item">
            {% for specific in cartitem %}
            <div class="col-lg-3"><!--Item Picture/Description-->
              <p align='center'>{{ specific }}</p>
            </div>
            {% endfor %}
          </div>
          {% endfor %}         
        </div>
        <!-- End of template for individual item -->

      </div>
      <div class="modal-footer">
        <p id="subtotal">Subtotal:
        ${{ subtotal }}</p><!--Subtotal goes here-->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary">Update Cart</button>
        <button type="button" class="btn btn-success"><a href="{% url 'checkout' %}">Checkout</a></button>

        

      </div>
    </div>
  </div>
</div>

{% endblock %}
